<template id="tpl-login">
  <div id="login-screen">
    <form class="card" id="form-login">
      <h2>Control Interno</h2>
      <div class="field">
        <label>Correo</label>
        <input type="email" id="login-correo" required placeholder="nombre@ciudadmaderas.com" />
      </div>
      <div class="field">
        <label>Contraseña</label>
        <input type="password" id="login-password" required />
      </div>
      <button type="submit" style="width:100%">Entrar</button>
      <div class="error-msg" id="login-error" hidden></div>
    </form>
  </div>
</template>
